In [1]:
import pandas as pd

In [2]:
file = "../Final_Resume_Texts/resume_with_raw_roles.csv"

df = pd.read_csv(file)

In [7]:
# find most frequent titles
titles = df['role_raw'].value_counts()

In [8]:
titles[:20]

role_raw
accountant                                           115
hr assistant                                          58
finance director and treasurer                        42
operations manager                                    25
senior vp - information technology                    23
senior hr manager                                     22
personal trainer, group fitness instructor            17
customer service representative                       17
finance coordinator                                   15
administrator of information technology               13
advocate                                              13
hr generalist/recruiter                               10
aviation supply technician                            10
project manager                                       10
healthcare consultant                                  7
information technology manager / network engineer      7
internship                                             6
software engineer                                      6
english language arts teacher                          6
mortgage banking default operations specialist ii      6
Name: count, dtype: int64

In [28]:
import json
actual_role = json.load(open("actual_roles.json"))

# add the actual role to the dataframe, and if it is not there in actual roles then let it be original with every first letter of every word in capital
df['role'] = df['role_raw'].apply(lambda x: actual_role.get(x, x.title()))

In [29]:
df.to_csv("../Final_Resume_Texts/resume_with_actual_roles.csv", index=False)